body {
    background-color: #000;
}

#game {
    margin-top: 8rem;
    margin-left: 18rem; 
    margin-right: 38rem; 
    width: 800px; 
    height: 600px; 
    box-sizing: border-box; 
    border: 2px solid gray;
    border-radius: 25px;
}
#left {
    border-right: 2px solid gray;
    box-sizing: border-box;
    width: 380px;
    height: 600px;
    
}